<div id="search-box" class="row py-3 mb-3 radius ">
        <div class="col-12 col-md-2 br-s-1 ">
          <h4 align='center'>Effectuer une recherche</h1>
        </div>
        <form class="col-12 col-md-8 br-s-1 px-4">
          <div class="input-group flex-nowrap">
            <div class="input-group-prepend d-none d-sm-flex">
              <button type="button" class="btn btn-outline-secondary dropdown-toggle bg-blue" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Mots clés..." name="search" id="search" aria-describedby="addon-wrapping">
            <div class="input-group-append">
              <button class="btn bg-blue" type="button"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
        
</div>