{% extends 'advert/main.html' %}

{% block Main %} 
<main id='main-content' class='custom-container-lg mb-5'>
    {% include 'advert/search-box.html' %}
    {% include 'advert/breadcrumbs.html' %}
    <div class="row mb-3">
        <div id="user-card" class="col-12 col-md-7 px-0 mr-3">
            <div class="p-3 radius">
                <h4 class="">Annonceur</h4>
                <div class="row px-0 mt-4">
                    <div class="col-4">
                        {% if user.profile.avatar.url %}
                        <img src="{{user.profile.avatar.url}}" class="img-fluid rounded mb-3 px-0" alt="">
                        {% else %}
                        <i class="fas fa-user col-12 fa-6x my-4 mx-auto" style="text-align: center;"></i>
                        {% endif %}
                    </div>
                    <div class="col">
                        <table width="100%" style="font-size: larger;">
                            <tr>
                                <td><label for="">Membre depuis</label></td>
                                <td><b>{{user.date_joined|date:"F Y"}}</b></td>
                            </tr>
                            <tr>
                                <td><label for="">Nom d'utilisateur</label></td>
                                <td><b>{{user.username}}</b></td>
                            </tr>
                            <tr>
                                <td><label for="">Email</label></td>
                                <td><b>{{user.email}}</b></td>
                            </tr>
                            {% if not self %}
                            <tr>
                                <td><button class="btn bg-blue mt-3 btn-lg disabled" data-toggle="modal" data-target="#contactModal">Contacter</button></td>
                                {% if request.user.is_authenticated %}
                                <td><button class="btn bg-blue mt-3 btn-lg disabled">Message direct</button></td>
                                {% endif %}
                            </tr>
                            {% endif %}
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md px-0">
            <div class="p-3 radius">
                <h4>Statistiques</h4>
                {% if user.profile %}
                <div id="stats" class="row">
                    <div class="col-7">
                        <table width="85%">
                            <tr>
                                <td><b>Nombres d'annonces publiées</b></td>
                                <td>{{user.ad_set.all|length}}</td>
                            </tr>
                            <tr>
                                <td><b>Nombres d'annonces disponibles</b></td>
                                <td>{{user.ad_set.all|length}}</td>
                            </tr>
                            <tr>
                                <td><b>Nombre d'annonces sponsorisées</b></td>
                                <td>0</td>
                            </tr>
                        </table>
                    </div>
                </div>                
                {% elif self %}
                <h4 style="color:lightgray;" class="my-5">Vous ne possedez pas de profil d'annonces</h4>
                <button class="btn bg-outline-blue btn-lg"  data-toggle="modal" data-target="#formModal">Créer</button>
                {% else %}
                <h4 style="color:lightgray;" class="my-5">Ce compte n'est pas un profil d'annonces</h4>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mb-3" id="ad-list">
        <div id="my-adverts" class="p-3 col-12 radius">
            <h4>Annonces</h4>
            <button class="btn bg-outline-blue mb-2 btn-lg"  data-toggle="modal" data-target="#formModal">Publier une annonce</button>
            {% if user.ad_set.all|length > 0 %}
                <div class="row mx-0">
                    {% with user.ad_set.all as ads %}
                        {% include 'advert/ad_list.html' %}
                    {% endwith %}
                </div>
            {% else %}
                <h4 style="color:lightgray;" class="my-5">Aucune annonce publiée</h4>
                {% if self %}
                    <button class="btn bg-outline-blue btn-lg"  data-toggle="modal" data-target="#formModal">Poster une annonce</button>
                {% endif %}
            {% endif %}
        </div>
    </div> 
    <div id="my-businnesses" class="p-3 radius mb-3 ">
        <h4>Businness</h4>
        {% if user.profile.has_company %}
        <div class="row col-12  mx-0">
            <div id="ad-card" class="row col-md">
            </div>
        </div>
        {% else %}
        {% if self %}
        <h4 style="color:lightgray;" class="my-5">Vous ne possedez pas de profil professionel</h4>
        {% comment %} <button class="btn bg-outline-blue btn-lg"  data-toggle="modal" data-target="#formModal">Créer</button> {% endcomment %}
        {% else %}
        <h4 style="color:lightgray;" class="my-5">Ce compte n'est pas un profil professionel</h4>
        {% endif %}
        {% endif %}
        
    </div>
</main>
<!-- Form Modal -->

{% comment %} {% else %}
<!--contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="modelTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cont</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endcomment %}
{% endblock Main %}